<p-card>
  <ng-template pTemplate="header">
    <div class="flex flex-row justify-content-between mx-5">
      <div class="flex flex-row mt-3">
        <div class="flex flex-column justify-content-center align-items-center">
          <i class="fa fa-book fa-fw text-2xl"></i>
        </div>
        <div class="flex flex-column justify-content-center">
          <h1 class="text-xl font-bold">Recetas</h1>
        </div>
      </div>
      <div class="flex flex-row mt-3 gap-2">
        <div class="flex flex-column justify-content-center align-items-center">
          <p-button
            label="Nuevo"
            icon="pi pi-plus"
            styleClass="p-button-rounded p-button-success p-mr-2"
            [routerLink]="['agregar']"
          ></p-button>
        </div>
        <div class="flex flex-column justify-content-center align-items-center">
          <p-button
            label="Editar"
            icon="pi pi-pencil"
            styleClass="p-button-rounded p-button-warning"
            [routerLink]="['editar', selectedReceta?.idReceta]"
            [disabled]="!selectedReceta"
          ></p-button>
        </div>
        <div class="flex flex-column justify-content-center align-items-center">
          <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
          <p-button
            label="Eliminar"
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-danger"
            (click)="deleteReceta()"
            [disabled]="!selectedReceta"
          ></p-button>
        </div>
      </div>
    </div>
  </ng-template>
  <p-toast position="top-left"></p-toast>
  <p-table
    #dt
    [value]="recetas"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    (onRowSelect)="onRowSelect($event)"
    [responsive]="true"
    [(selection)]="selectedReceta"
    [rowHover]="true"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="[
      'idReceta',
      'codigo',
      'nombre',
      'cantidad',
      'producto',
      'costo',
      'estatus'
    ]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"></th>
        <th pSortableColumn="idReceta">
          ID <p-sortIcon field="idReceta"></p-sortIcon>
        </th>
        <th pSortableColumn="codigo">
          Codigo <p-sortIcon field="codigo"></p-sortIcon>
        </th>
        <th pSortableColumn="costo">
          Costo <p-sortIcon field="costo"></p-sortIcon>
        </th>
        <th pSortableColumn="cantidad">
          Cantidad <p-sortIcon field="cantidad"></p-sortIcon>
        </th>
        <th pSortableColumn="producto">
          Producto <p-sortIcon field="producto"></p-sortIcon>
        </th>
        <th pSortableColumn="estatus">
          Estatus <p-sortIcon field="estatus"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 4rem"></th>
        <th>
          <p-columnFilter type="text" field="idReceta"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            matchMode="contains"
            type="text"
            field="codigo"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="costo"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="cantidad"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="producto"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="estatus"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-receta>
      <tr>
        <td>
          <p-tableRadioButton [value]="receta"></p-tableRadioButton>
        </td>
        <td>{{ receta.idReceta }}</td>
        <td>{{ receta.codigo }}</td>
        <td>{{ receta.costo | currency : "MXN" }}</td>
        <td>{{ receta.cantidad }}</td>
        <td>{{ receta.producto }}</td>
        <td>
          <p-tag
            [value]="receta.estatus"
            [severity]="getSeverity(receta.estatus.toLowerCase())"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
