:root{
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;

  --text-color: #212529;
  --text-muted-color: #6c757d;
  --card-text-color: #6c757d;
  --card-text-muted-color: #6c757d;

  --font-family: 'Roboto', sans-serif;
  --font-size: 1rem;
  --font-weight: 400;

  --border-radius: 0.25rem;

  --surface-ground: #f8f9fa;
  --surface-card: #fff;
  --surface-border: #dee2e6;
  --surface-border-hover: #adb5bd;
}


* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.layout-wrapper {
  min-height: 100vh;
  margin-top: 7rem;
}

.card {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
}

.p-toast.p-toast-top-right,
.p-toast.p-toast-top-left,
.p-toast.p-toast-top-center {
    top: 100px;
}
