<div class="tr-footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-widget">
                <div class="footer-logo">
                    <a href="#"><img class="img-fluid" src="assets/img/logo-page.png" alt="Logotipo"
                            style="width: 150px;padding: 20px;margin-top: -45px;"></a>
                </div>
            </div>
            <div class="footer-widget">
                <h3>Producto</h3>
                <ul class="tr-list">
                    <li><a href="#">Precios</a></li>
                    <li><a href="#">Funciones</a></li>
                    <li><a href="#">Clientela</a></li>
                    <li><a href="#">Aplicaciones con un solo clic</a></li>
                    <li><a href="#">API</a></li>
                </ul>
            </div>
            <div class="footer-widget">
                <h3>Compañía</h3>
                <ul class="tr-list">
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Carreras</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-widget">
                <h3>Ayuda</h3>
                <ul class="tr-list">
                    <li><a href="#">Empezar</a></li>
                    <li><a href="#">Retroalimentación</a></li>
                    <li><a href="#">Programa de Referidos</a></li>
                    <li><a href="#">Estado de la red</a></li>
                    <li><a href="#">Preguntas más frecuentes</a></li>
                </ul>
            </div>
            <div class="footer-widget">
                <h3>Social</h3>
                <ul class="tr-list">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                            <font _mstmutation="1">Facebook (en inglés)</font>
                        </a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                            <font _mstmutation="1">Twitter</font>
                        </a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>
                            <font _mstmutation="1">LinkedIn (en inglés)</font>
                        </a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
                            <font _mstmutation="1">Google (en inglés)</font>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>