<p-card>
  <ng-template pTemplate="header">
    <div class="flex flex-row justify-content-between mx-5">
      <div class="flex flex-row mt-3">
        <div class="flex flex-column justify-content-center align-items-center">
          <i class="pi pi-users text-2xl"></i>
        </div>
        <div class="flex flex-column justify-content-center">
          <h1 class="text-xl font-bold">Clientes</h1>
        </div>
      </div>
      <div class="flex flex-row mt-3 gap-2">
        <div class="flex flex-column justify-content-center align-items-center">
          <p-button
            label="Nuevo"
            icon="pi pi-plus"
            styleClass="p-button-rounded p-button-success p-mr-2"
            [routerLink]="['agregar']"
          ></p-button>
        </div>
        <div class="flex flex-column justify-content-center align-items-center">
          <p-button
            label="Editar"
            icon="pi pi-pencil"
            styleClass="p-button-rounded p-button-warning p-mr-2"
            [routerLink]="['editar', selectedCliente?.idCliente]"
            [disabled]="!selectedCliente"
          ></p-button>
        </div>
        <div class="flex flex-column justify-content-center align-items-center">
          <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
          <p-button
            label="Eliminar"
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-danger"
            (click)="deleteCliente()"
            [disabled]="!selectedCliente"
          ></p-button>
        </div>
      </div>
    </div>
  </ng-template>
  <p-toast position="top-left"></p-toast>
  <p-table
    #dt
    [value]="clientes"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    (onRowSelect)="onRowSelect($event)"
    [globalFilterFields]="[
      'id',
      'nombre',
      'apellido',
      'correo',
      'fechaNacimiento'
    ]"
    [responsive]="true"
    [(selection)]="selectedCliente"
    [rowHover]="true"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"></th>
        <th pSortableColumn="nombre">
          Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="apellido">
          Apellido <p-sortIcon field="apellido"></p-sortIcon>
        </th>
        <th pSortableColumn="direccion">
          Direccion <p-sortIcon field="direccion"></p-sortIcon>
        </th>
        <th pSortableColumn="telefono">
          Telefono <p-sortIcon field="telefono"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 4rem">
          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
        </th>
        <th>
          <p-columnFilter type="text" field="nombre"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="apellido"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="direccion"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="telefono"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>
          <p-tableRadioButton [value]="cliente"></p-tableRadioButton>
        </td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.telefono }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
