<div class="tr-breadcrumb">
  <div class="container">
    <div class="breadcrumb-info">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Inicio</a></li>
        <li class="breadcrumb-item active">Contacto</li>
      </ol>
      <div class="page-title text-center">
        <h2>Tu Mensaje, Nuestra Pasión</h2>
        <h1> Envía tus Consultas a través de Nuestro Formulario</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page content-->
<div class="container py-5">
  <div class="row">
    <div class="col-7">
      <div class="tr-section choices-option">
        <ul class="tr-list">
          <li class="brands">
            <div class="card">
              <div class="card-body">
                <h2>Clamaroj</h2>
                <p class="lead mb-5">
                  Universidad Tecnologica de Leon<br />
                  <br />
                  <strong>Telefono:</strong> 477 123 4567<br />
                  <strong>Email:</strong> soporte@clamaroj.com
                </p>
                <div class="form-group">
                  <label for="inputName">Nombre</label>
                  <input type="text" id="inputName" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="inputEmail">Correo Electronico</label>
                  <input type="email" id="inputEmail" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="inputSubject">Asunto</label>
                  <input type="text" id="inputSubject" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="inputMessage">Mensaje</label>
                  <textarea
                    id="inputMessage"
                    class="form-control"
                    rows="4"
                  ></textarea>
                </div>
                <div class="form-group">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    value="Enviar mensaje"
                  />
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-5">
      <div class="tr-section choices-option">
        <ul class="tr-list">
          <li class="brands">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.2262963321878!2d-101.58422372559599!3d21.06362208658197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b963652f40f0d%3A0xa7d88da0ad8eff8a!2sUniversidad%20Tecnol%C3%B3gica%20de%20Le%C3%B3n!5e0!3m2!1ses!2smx!4v1692246406853!5m2!1ses!2smx"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--<app-footer></app-footer>-->
