<div class="tr-breadcrumb">
  <div class="container">
    <div class="breadcrumb-info">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Inicio</a></li>
        <li class="breadcrumb-item active">Contacto</li>
      </ol>
      <div class="page-title">
        <h1>Contacto</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page content-->
<section class="py-5">
  <section class="container">
    <div class="card">
      <div
        class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 hover:border-primary transition-duration-300 transition-all"
        style="border-radius: 10px"
      >
        <div class="card-body row">
          <div
            class="col-5 text-center d-flex align-items-center justify-content-center"
          >
            <div class="">
              <h2>Blue Crow</h2>
              <p class="lead mb-5">
                Universidad Tecnologica de Leon<br />
                <br />
                <strong>Telefono:</strong> 477 123 4567<br />
                <strong>Email:</strong> support@bluecrow.com
              </p>
            </div>
          </div>
          <div class="col-7">
            <div class="form-group">
              <label for="inputName">Nombre</label>
              <input type="text" id="inputName" class="form-control" />
            </div>
            <div class="form-group">
              <label for="inputEmail">Correo Electronico</label>
              <input type="email" id="inputEmail" class="form-control" />
            </div>
            <div class="form-group">
              <label for="inputSubject">Asunto</label>
              <input type="text" id="inputSubject" class="form-control" />
            </div>
            <div class="form-group">
              <label for="inputMessage">Mensaje</label>
              <textarea
                id="inputMessage"
                class="form-control"
                rows="4"
              ></textarea>
            </div>
            <div class="form-group">
              <input
                type="submit"
                class="btn btn-primary"
                value="Enviar mensaje"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<!--<app-footer></app-footer>-->
