<div class="main-wrapper product-details" style="height: 80vh">
  <div class="container">
    <div class="row">
      <div class="col-8 m-auto">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a routerLink="/" class="h1"><b>Clama</b>ROJ</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg text-center">
              <!-- <a routerLink="../other-component">Go to Other Component</a>
              <a routerLink="details">View Details</a> -->

              Ingresa tu usuario y contraseña o
              <a routerLink="../singup">
                <i class="pi pi-home"></i> REGISTRATE</a
              >
            </p>
            <form [formGroup]="loginForm" class="row" (ngSubmit)="onSubmit()">
              <div class="col-12">
                <label class="form-label">Correo Electrónico</label>
                <input
                  formControlName="email"
                  name="email"
                  type="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
              <div class="col-12">
                <label class="form-label">Password</label>
                <input
                  formControlName="password"
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>

              <button type="submit" class="btn btn-primary">
                Iniciar Sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
