<div class="main-wrapper">
    <div class="container">
        <div class="tr-section tr-congrats text-center">
            <div class="congrats-content">
                <div class="icon">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <h1>¡Felicidades! Su pedido ha sido aceptado</h1>
                <p>Toda la información necesaria sobre <br> la
                    entrega, la enviamos a su correo electrónico</p>
            </div>
        </div>
    </div>
</div>