<div id="highlights" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
  <div class="text-center">
    <h2 class="text-900 font-normal mb-2">
      Eleva tus Sentidos con las Mejores Micheladas y Snacks
    </h2>
    <span class="text-600 text-2xl">en Línea, solo en Clamaroj</span>
  </div>

  <div class="grid mt-8 pb-2 md:pb-8">
    <div
      class="flex justify-content-center col-12 lg:col-6 bg-purple-100 p-0 flex-order-1 lg:flex-order-0"
      style="border-radius: 8px"
    >
      <img src="assets/logos/Clamaroj-2.png" class="w-11" alt="mockup mobile" />
    </div>
    <div
      class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right"
    >
      <h2 class="line-height-1 text-900 text-4xl font-normal">
        Sabores que Elevan la Experiencia
      </h2>
      <span
        class="text-700 text-2xl line-height-3 ml-0 md:ml-2"
        style="max-width: 650px"
        >Bienvenido al Lugar donde las Micheladas se Vuelven Obras Maestras y
        los Snacks son la Compañía Perfecta para tus Momentos. Sumérgete en la
        Intensidad de los Sabores, Eleva tus Expectativas y Celebra la Vida con
        Clamaroj</span
      >
    </div>
  </div>

  <div class="grid my-8 pt-2 md:pt-8">
    <div
      class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start"
    >
      <h2 class="line-height-1 text-900 text-4xl font-normal">
        Elevando los Placeres de la Michelada y los Snacks a tu Alcance
      </h2>
      <span
        class="text-700 text-2xl line-height-3 mr-0 md:mr-2"
        style="max-width: 650px"
        >Nuestra Tienda en Línea es Mucho más que una Compra, es una Invitación
        a la Diversión. Explora Nuestra Gama de Micheladas Cuidadosamente
        Curadas, desde Clásicas hasta Creaciones Innovadoras que Desafían los
        Límites del Sabor.</span
      >
    </div>

    <div
      class="flex justify-content-end flex-order-1 sm:flex-order-2 col-12 lg:col-6 bg-yellow-100 p-0"
      style="border-radius: 8px"
    >
      <img src="assets/logos/Clamaroj-2.png" class="w-11" alt="mockup" />
    </div>
  </div>
</div>

