<div class="tr-breadcrumb">
  <div class="container">
    <div class="breadcrumb-info">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Inicio</a></li>
        <li class="breadcrumb-item active">Sobre Nosotros</li>
      </ol>
      <div class="page-title text-center">
        <h2>Nuestra Historia, Tu Experiencia</h2>
        <h1>Clamaroj, Un Sabor por Descubri</h1>
      </div>
    </div>
  </div>
</div>

<div id="highlights" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
  <div class="text-center">
    <h2 class="text-900 font-normal mb-2">
      Eleva tus Sentidos con las Mejores Micheladas y Snacks
    </h2>
    <span class="text-600 text-2xl">en Línea, solo en Clamaroj</span>
  </div>

  <div class="grid mt-8 pb-2 md:pb-8">
    <div
      class="flex justify-content-center col-12 lg:col-6 bg-purple-100 p-0 flex-order-1 lg:flex-order-0"
      style="border-radius: 8px"
    >
      <img src="assets/logos/Clamaroj-2.png" class="w-11" alt="mockup mobile" />
    </div>
    <div
      class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right"
    >
      <h2 class="line-height-1 text-900 text-4xl font-normal">
        Sabores que Elevan la Experiencia
      </h2>
      <span
        class="text-700 text-2xl line-height-3 ml-0 md:ml-2"
        style="max-width: 650px"
        >Bienvenido al Lugar donde las Micheladas se Vuelven Obras Maestras y
        los Snacks son la Compañía Perfecta para tus Momentos. Sumérgete en la
        Intensidad de los Sabores, Eleva tus Expectativas y Celebra la Vida con
        Clamaroj</span
      >
    </div>
  </div>

  <div class="grid my-8 pt-2 md:pt-8">
    <div
      class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start"
    >
      <h2 class="line-height-1 text-900 text-4xl font-normal">
        Elevando los Placeres de la Michelada y los Snacks a tu Alcance
      </h2>
      <span
        class="text-700 text-2xl line-height-3 mr-0 md:mr-2"
        style="max-width: 650px"
        >Nuestra Tienda en Línea es Mucho más que una Compra, es una Invitación
        a la Diversión. Explora Nuestra Gama de Micheladas Cuidadosamente
        Curadas, desde Clásicas hasta Creaciones Innovadoras que Desafían los
        Límites del Sabor.</span
      >
    </div>

    <div
      class="flex justify-content-end flex-order-1 sm:flex-order-2 col-12 lg:col-6 bg-yellow-100 p-0"
      style="border-radius: 8px"
    >
      <img src="assets/logos/Clamaroj-2.png" class="w-11" alt="mockup" />
    </div>
  </div>
</div>

<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="/assets/logos/logo-2.png"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Nosotros</h2>
        <p class="lead fw-normal text-muted mb-0">
          Nuestros diseños innovadores están hechos para hombres que no temen a
          los retos. Ya sea que te apasionen los deportes al aire libre, el
          gimnasio o simplemente mantenerte activo en tu rutina diaria, nuestra
          ropa deportiva te acompañará en cada paso del camino. Imagina vestirte
          con nuestra última colección de camisetas técnicas que absorben el
          sudor y te mantienen fresco y seco, incluso en los entrenamientos más
          intensos. O ponte nuestros pantalones deportivos con tecnología de
          compresión que te brindan un soporte muscular excepcional, mejorando
          tu rendimiento y acelerando tu recuperación.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About section two-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-first order-lg-last">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://dummyimage.com/600x400/343a40/6c757d"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Misión</h2>
        <p class="lead fw-normal text-muted mb-0">
          En Clamaroj, nuestra misión es crear experiencias gastronómicas únicas
          y memorables al fusionar el arte de la cerveza con la pasión por los
          sabores. Nos esforzamos por ofrecer a nuestros clientes micheladas
          artesanales excepcionales y deliciosos snacks que despierten sus
          sentidos y enriquezcan sus momentos de disfrute. A través de la
          calidad, la creatividad y el compromiso con la excelencia, buscamos
          convertir cada sorbo y bocado en una auténtica celebración culinaria.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About section two-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-first order-lg-last">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://dummyimage.com/600x400/343a40/6c757d"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Visión</h2>
        <p class="lead fw-normal text-muted mb-0">
          Nuestra visión en Clamaroj es ser reconocidos como el referente en el
          mundo de las micheladas y los snacks, siendo líderes en innovación y
          calidad. Aspiramos a ser el destino preferido de los amantes de la
          buena cerveza y los sabores únicos, destacándonos por la creatividad
          de nuestras combinaciones, la autenticidad de nuestros productos y la
          satisfacción constante de nuestros clientes. A través de la expansión
          y la diversificación, buscamos llevar la experiencia Clamaroj a nuevos
          horizontes y consolidarnos como una marca globalmente admirada.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- About section two-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-first order-lg-last">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://dummyimage.com/600x400/343a40/6c757d"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Misión</h2>
        <p class="lead fw-normal text-muted mb-0">
          1. *Pasión por el Sabor:* Nos apasiona la creación de sabores
          inolvidables. Trabajamos con dedicación y entusiasmo para brindar a
          nuestros clientes experiencias gustativas excepcionales en cada
          producto que ofrecemos. 2. *Calidad y Autenticidad:* Mantenemos los
          más altos estándares de calidad en cada aspecto de nuestro negocio,
          desde la selección de ingredientes hasta la presentación final.
          Valoramos la autenticidad en nuestras creaciones y nos esforzamos por
          ofrecer productos genuinos y memorables. 3. *Innovación Creativa:*
          Abrazamos la innovación y la creatividad en todo lo que hacemos.
          Buscamos constantemente nuevas formas de sorprender y deleitar a
          nuestros clientes, explorando combinaciones únicas y propuestas
          originales. 4. *Compromiso con el Cliente:* Colocamos a nuestros
          clientes en el centro de todo lo que hacemos. Nos esforzamos por
          entender sus deseos y necesidades, brindándoles un servicio
          excepcional y productos que superen sus expectativas. 5.
          *Responsabilidad Social y Ambiental:* Reconocemos nuestra
          responsabilidad con la comunidad y el medio ambiente. Trabajamos de
          manera sostenible y ética, contribuyendo positivamente a nuestro
          entorno y promoviendo prácticas responsables en toda nuestra cadena de
          valor. 6. *Trabajo en Equipo:* Fomentamos un ambiente de colaboración
          y respeto mutuo, donde cada miembro del equipo se siente valorado y
          contribuye con su experiencia única para lograr nuestros objetivos
          compartidos.
        </p>
      </div>
    </div>
  </div>
</section>
<!--<app-footer></app-footer>-->
