<p-card>
  <ng-template pTemplate="header">
    <div class="flex flex-row justify-content-between mx-5">
      <div class="flex flex-row mt-3">
        <div class="flex flex-column justify-content-center align-items-center">
          <i class="fa fa-fw fa-cubes text-2xl"></i>
        </div>
        <div class="flex flex-column justify-content-center">
          <h1 class="text-xl font-bold">&nbsp;Materias Primas</h1>
        </div>
      </div>
      <div class="flex flex-row mt-3 gap-2">
        <div class="flex flex-column justify-content-center align-items-center">
          <p-button
            label="Nuevo"
            icon="pi pi-plus"
            styleClass="p-button-rounded p-button-success p-mr-2"
            [routerLink]="['agregar']"
          ></p-button>
        </div>
        <div class="flex flex-column justify-content-center align-items-center">
          <p-button
            label="Editar"
            icon="pi pi-pencil"
            styleClass="p-button-rounded p-button-warning p-mr-2"
            [routerLink]="['editar', selectedMateriaPrima?.id]"
            [disabled]="!selectedMateriaPrima"
          ></p-button>
        </div>
        <div class="flex flex-column justify-content-center align-items-center">
          <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
          <p-button
            label="Eliminar"
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-danger"
            (click)="deleteMateriaPrima()"
            [disabled]="!selectedMateriaPrima"
          ></p-button>
        </div>
      </div>
    </div>
  </ng-template>
  <p-toast position="top-left"></p-toast>
  <p-table
    #dt
    [value]="materiasPrimas"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    (onRowSelect)="onRowSelect($event)"
    [globalFilterFields]="[
      'codigo',
      'nombre',
      'descripcion',
      'stock',
      'precio',
      'razonSocial',
      'estatus'
    ]"
    [responsive]="true"
    [(selection)]="selectedMateriaPrima"
    [rowHover]="true"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"></th>
        <th pSortableColumn="codigo">
          Código <p-sortIcon field="codigo"></p-sortIcon>
        </th>
        <th pSortableColumn="nombre">
          Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="descripcion">
          Descripción <p-sortIcon field="descripcion"></p-sortIcon>
        </th>
        <th pSortableColumn="stock">
          Stock <p-sortIcon field="stock"></p-sortIcon>
        </th>
        <th pSortableColumn="precio">
          Precio <p-sortIcon field="precio"></p-sortIcon>
        </th>
        <th pSortableColumn="razonSocial">
          Proveedor <p-sortIcon field="razonSocial"></p-sortIcon>
        </th>
        <th pSortableColumn="estatus">
          Estatus <p-sortIcon field="estatus"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 4rem">
          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
        </th>
        <th>
          <p-columnFilter type="text" field="codigo"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="nombre"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="descripcion"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="stock"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="precio"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="razonSocial"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="estatus"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-materiaPrima>
      <tr>
        <td>
          <p-tableRadioButton [value]="materiaPrima"></p-tableRadioButton>
        </td>
        <td>{{ materiaPrima.codigo }}</td>
        <td>{{ materiaPrima.nombre }}</td>
        <td>{{ materiaPrima.descripcion }}</td>
        <td>{{ materiaPrima.stock }}</td>
        <td>{{ materiaPrima.precio | currency : "MXN" }}</td>
        <td>{{ materiaPrima.razonSocial }}</td>
        <td>
          <p-tag
            [value]="materiaPrima.estatus"
            [severity]="getSeverity(materiaPrima.estatus)"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
