/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
body {
  font-family: var(--font-family);
}

.input-password .p-password-input {
  width: 100% !important;
}

.input-numbers .p-inputnumber.p-component {
  width: 100% !important;
}
