<div class="topbar-middle">
  <div class="container clearfix">
    <a class="tr-logo logo" routerLink="/">
      <img
        class="img-fluid"
        src="assets/logos/Clamaroj.png"
        alt="Logotipo"
        style="width: 150px; padding: 20px; margin-top: -45px"
      />
    </a>

    <form class="search-form" action="#" id="search" method="get">
      <input
        class="form-control"
        name="search"
        type="text"
        placeholder="Buscar algun producto"
      />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="right-content">
      <!-- <app-carrito></app-carrito> -->
    </div>
  </div>
</div>
<div class="tr-menu">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="menu-content">
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['']">
                <i class="pi pi-home"></i>
                Inicio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['about']">
                <i class="pi pi-globe"></i> Nosotros</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['contact']">
                <i class="pi pi-envelope"></i> Contacto</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['products']">
                <i class="pi pi-shopping-cart"></i> Productos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['shopping-cart']">
                <i class="pi pi-cart-plus"></i> Mi Carrito</a
              >
            </li>
            <!-- Cliente autenticado mostrar y ocultar  login, registro y logout -->
            <li class="nav-item" *ngIf="isLogged">
              <!-- Mostrar icono con inicial de nombre del cliente y  logout -->
              <a class="nav-link" [routerLink]="['/']"
                ><i class="pi pi-user"></i>
                {{ cliente?.nombre }}
              </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" [routerLink]="['singin']" (click)="logout()"
                >Cerrar Sesión</a
              >
            </li>
            <li class="nav-item" *ngIf="!isLogged">
              <a class="nav-link" [routerLink]="['singin']">Iniciar Sesión</a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
              <a class="nav-link" [routerLink]="['singup']">Registro</a>
            </li>
            <!-- Fin Cliente autenticado mostrar y ocultar  login, registro y logout -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
