<!-- <div class="main-wrapper product-details">
    <div class="container ">
        <div class="row ">
            <div class="col-8 m-auto">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <a [routerLink]="['/']" class="h1"><b>Blue</b>Crow</a>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">Ingresa todos tus datos para registrarte o <a
                                [routerLink]="['/home/singin']" class="text-primary font-weight-bold"> Inicia Sesión</a>
                        </p>

                        <form #form="ngForm" (ngSubmit)="registerByAuthCliente(form)" class="row">
                            <div class="col-4">
                                <label class="form-label">Nombre</label>
                                <input [(ngModel)]="cliente.nombre" name="nombre" type="text" class="form-control"
                                    placeholder="Nombre" required />
                            </div>
                            <div class="col-4">
                                <label class="form-label">Apellido Paterno</label>
                                <input [(ngModel)]="cliente.apaterno" name="apaterno" type="text" class="form-control"
                                    placeholder="A. Paterno" required />
                            </div>
                            <div class="col-4">
                                <label class="form-label">Apellido Materno</label>
                                <input [(ngModel)]="cliente.amaterno" name="amaterno" type="text" class="form-control"
                                    placeholder="A. Materno" required />
                            </div>
                            <div class="col-4">
                                <label class="form-label">Teléfono</label>
                                <input [(ngModel)]="cliente.telefono" name="telefono" type="text" class="form-control"
                                    placeholder="Teléfono" required />
                            </div>
                            <div class="col-4">
                                <label class="form-label">Direccion</label>
                                <input [(ngModel)]="cliente.direccion" name="direccion" type="text" class="form-control"
                                    placeholder="Direccion" required />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Correo Electrónico</label>
                                <input [(ngModel)]="cliente.email" name="email" type="email" class="form-control"
                                    placeholder="Email" required />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Contraseña</label>
                                <input [(ngModel)]="cliente.password" name="password" type="password"
                                    class="form-control" placeholder="Password" required />
                            </div>
                            <button type="submit" class="btn btn-success float-right">Registrarme</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
