<div class="main-wrapper product-details">
  <div class="container">
    <div class="row">
      <div class="col-8 m-auto">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a [routerLink]="['/']" class="h1"><b>Clama</b>ROJ</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg text-center">
              <!-- <a routerLink="../other-component">Go to Other Component</a>
              <a routerLink="details">View Details</a> -->

              Ingresa tus datos o
              <a routerLink="../singin">
                <i class="pi pi-home"></i> INICIA SESIÓN
              </a>
            </p>

            <form [formGroup]="singupForm" class="row">
              <div class="col-4">
                <label class="form-label">Nombre</label>
                <input
                  formControlName="nombre"
                  name="nombre"
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                  required
                />
              </div>
              <div class="col-4">
                <label class="form-label">Apellido</label>
                <input
                  formControlName="apellido"
                  type="text"
                  class="form-control"
                  placeholder="Apellido"
                  required
                />
              </div>
              <div class="col-4">
                <label class="form-label">Teléfono</label>
                <input
                  formControlName="telefono"
                  type="text"
                  class="form-control"
                  placeholder="Teléfono"
                  required
                />
              </div>
              <div class="col-12">
                <label class="form-label">Direccion</label>
                <input
                  formControlName="direccion"
                  type="text"
                  class="form-control"
                  placeholder="Direccion"
                  required
                />
              </div>
              <div class="col-12">
                <label class="form-label">Correo Electrónico</label>
                <input
                  formControlName="correo"
                  type="email"
                  class="form-control"
                  placeholder="Correo"
                  required
                />
              </div>
              <div class="col-12">
                <label class="form-label">Contraseña</label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Registrarme</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
